<section>
  <div class="container mt-3">
    <form action="" id="checkform" method="post">
      <div class="col-md-6">
        <h4 class="text-center">Enter delivery address</h4>

        <div>
          <label>Name</label>
          <input type="text" class="form-control" name="Name" placeholder="Enter Name">
          <label>Mobile</label>
          <input type="number" class="form-control" name="Mobile" placeholder="Enter Mobile">
          <label>Address</label>
          <input class="form-control" placeholder="Address" type="text" name="Address" id="">
          <input type="text" name="userId" id="" value="{{user._id}}" hidden>
        </div>
      </div>

      <div class="col-md-4">
        <div class="container mt-5 mr-3 checkout">
          <h5>Total Amount : {{total}}</h5>
          <hr>
          <div class="payment">
            <p>Payment method</p>
            <label for="" class="radio-inline">
              <input type="radio" name="payment-method" value="COD" checked>COD
            </label><br>
            <label for="" class="radio-inline">
              <input type="radio" name="payment-method" value="ONLINE">Online payment
            </label><br> 
            <button class="order mt-1" type="submit"><span class="default">Complete Order</span><span class="success">Order Placed
                    <svg viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg></span>
                <div class="box"></div>
                <div class="truck">
                    <div class="back"></div>
                    <div class="front">
                        <div class="window"></div>
                    </div>
                    <div class="light top"></div>
                    <div class="light bottom"></div>
                </div>
                <div class="lines"></div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script>
    $("#checkform").submit((e) => {
    e.preventDefault();
    $.ajax({
        url: '/place-order',
        method: 'post',
        data: $('#checkform').serialize(),
        success: (response) => {
            setTimeout(() => {
                alert("Ordered successfully");
                if (response.status) {
                    location.href = "/order-success";
                }
            }, 5000); // 5000 milliseconds = 5 seconds
        }
    });
});

     $(document).ready(function () {
            $(".order").click(function (e) {
                let button = $(this);

                if (!button.hasClass("animate")) {
                    button.addClass("animate");
                    setTimeout(() => {
                        button.removeClass("animate");
                    }, 10000);
                }
            });
        });
        

        
</script>